{% extends 'base.html' %}

{% block content %}
<h1>Weather Report</h1>
  <br>
  <h2>İstanbul : {{istanbul}}</h2>
  <br>
  <h2>Ankara : {{ankara}}</h2>
  <br>
  {% if user_premium %}
      <h2>Rome : </h2>
      <ul>
        {% for key,value in rome.items %}
          <li><h2>{{key}} : {{value}}</h2></li>
        {% endfor %}
      </ul>
      <br>
      <h2>Paris : </h2>
      <ul>
          {% for item in paris %}
              {% if item < 6 %}
              <li><h2>Too Cold</h2></li>
              {% else %}
              <li><h2>{{item}}</h2></li>
              {% endif %}
          {% endfor %}
      </ul>
  {% endif %}
    <h2>{{test | upper | lower}}</h2>

<!--    <h2><a href="{% url 'template_app:index' %}">Go to Index</a></h2>-->
{% endblock %}